# ETL Project - ## Data Cleanup & Analysis

In [59]:
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [60]:
import plotly as py
import ipywidgets as widgets
from ipywidgets import interact, interactive, fixed, interact_manual
from IPython.display import display

import plotly.graph_objs as go
from plotly.widgets import GraphWidget
py.offline.init_notebook_mode(connected = True)

In [61]:
import pandas as pd
from sqlalchemy import create_engine

In [62]:
csv_2015file = "Resources/2015.csv"
csv_2016file = "Resources/2016.csv"
csv_2017file = "Resources/2017.csv"
data_2015df = pd.read_csv(csv_2015file)
data_2016df = pd.read_csv(csv_2016file)
data_2017df = pd.read_csv(csv_2017file)
#data_2015df.head()

# Tranformation of data by cleaning, joining, filtering, aggregating

In [63]:
new_2015data_df = data_2015df[['Country', 'Happiness Rank', 'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',
                               'Freedom','Trust (Government Corruption)','Generosity','Dystopia Residual']].copy()

In [64]:
#data_2016df

In [65]:
new_2016data_df = data_2016df[['Country', 'Happiness Rank', 'Happiness Score','Economy (GDP per Capita)','Family','Health (Life Expectancy)',
                               'Freedom','Trust (Government Corruption)','Generosity','Dystopia Residual']].copy()

#new_2016data_df

In [66]:
#data_2017df

In [67]:
new_2017data_df = data_2017df[['Country', 'Happiness.Rank', 'Happiness.Score','Economy..GDP.per.Capita.','Family','Health..Life.Expectancy.',
                               'Freedom','Generosity','Trust..Government.Corruption.','Dystopia.Residual']].copy()

In [68]:
renamed_2017df = new_2017data_df.rename(columns={"Happiness.Rank":"Happiness Rank", "Happiness.Score":"Happiness Score",
                                                "Economy..GDP.per.Capita.":"Economy (GDP per Capita)",
                                                 "Health..Life.Expectancy.":"Health (Life Expectancy)",
                                                 "Trust..Government.Corruption.":"Trust (Government Corruption)",
                                                "Dystopia.Residual":"Dystopia Residual"})
organized_2017df = renamed_2017df[["Country","Happiness Rank","Happiness Score","Economy (GDP per Capita)","Family","Health (Life Expectancy)",
                               "Freedom","Trust (Government Corruption)","Generosity","Dystopia Residual"]]
renamed_2017df.head()

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia Residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [69]:
new_2016data_df['year'] = 2016
new_2015data_df['year'] = 2015
renamed_2017df['year'] = 2017

In [70]:
# data_2015df.head()
all_years = [new_2015data_df, new_2016data_df, renamed_2017df]
new_all_years = pd.concat(all_years, sort=True)
new_all_years.head()

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Trust (Government Corruption),year
0,Switzerland,2.51738,1.39651,1.34951,0.66557,0.29678,1,7.587,0.94143,0.41978,2015
1,Iceland,2.70201,1.30232,1.40223,0.62877,0.43630,2,7.561,0.94784,0.14145,2015
2,Denmark,2.49204,1.32548,1.36058,0.64938,0.34139,3,7.527,0.87464,0.48357,2015
3,Norway,2.46531,1.45900,1.33095,0.66973,0.34699,4,7.522,0.88521,0.36503,2015
4,Canada,2.45176,1.32629,1.32261,0.63297,0.45811,5,7.427,0.90563,0.32957,2015

In [71]:
#new_all_years.loc[:,[Country]]
#new_all_years.columns
country = new_all_years['year'].unique()
country

array([2015, 2016, 2017], dtype=int64)

In [72]:
#for i in new_all_years:
   # print(i)

# ##

In [46]:
def update_on_change(year):
    data = []
    for i in year:
        trace1 = go.Scatter(
                        x=new_all_years['Economy_GDP'], y=new_all_years['Happiness_Score'], 
                        mode = 'markers',
                        #name='plot' # Additional options
                       )
        trace2 = go.Scatter(
                        x=new_all_years['Health'], y=new_all_years['Happiness_Score'], 
                        mode = 'markers',
                        marker=dict(
                        size=16,
                        color = np.random.randn(600), #set color equal to a variable
                        colorscale='Viridis',
                        showscale=True
                        ),
                        name='Health'
                        )
   
    layout = go.Layout(title='GDP vs Happiness',
                       xaxis = dict(title = "Economy(GDP)"),
                       yaxis = dict(title = "Happiness Score"),
                       plot_bgcolor='rgb(230, 230,230)')
    fig = go.Figure(data[trace1,trace2],layout)
    py.offline.iplot(fig)

#w.observe(update_on_change, names="selected_label")

In [57]:
w = widgets.Dropdown(options=['2015', '2016', '2017'],value='2017',description='Select Years:')
widgets = interactive(update_on_change, year=w)

In [58]:
w.observe(update_on_change, names="selected_label")